{% extends "inc/base.j2" %}
{% block content %}

<div class="page-header">
  <h2>nodes / {{ nodes | length }}</h2>

  <form>
    <select name="network">
      <option value="">network</option>
      {% for network in networks %}
      {{option(network, form.network)}}
      {% endfor %}
    </select>
    <button type="submit" class="outline">filter</button>
  </form>

  <nav>
    <a onclick="openDialog('dialog-add')">add</a>
    <a onclick="openDialog('dialog-import')">import</a>
    <a href="/api/nodes/export">export</a>
  </nav>
</div>

<dialog id="dialog-add" label="add nodes">
  <article>
    <form method="post" class="stack">
      <select name="network" placeholder="network" required>
        {% for network in networks %}
        <option value="{{ network }}">{{ network }}</option>
        {% endfor %}
      </select>
      <textarea name="urls" placeholders="URLs" required></textarea>
      <button type="submit">add</button>
    </form>
  </article>
</dialog>

<dialog id="dialog-import" label="import nodes">
  <article>
    <form method="post" action="/nodes/import" class="stack">
      <textarea name="toml" placeholder="nodes as TOML document" rows="10" required></textarea>
      <button type="submit">import</button>
    </form>
  </article>
</dialog>

<table class="sortable">
  <thead>
    <tr>
      <th>network</th>
      <th>status</th>
      <th>url</th>
      <th>height</th>
      <th>ok</th>
      <th>down</th>
      <th>checked_at</th>
      <th>actions</th>
    </tr>
  </thead>
  <tbody>
    {% for n in nodes %}
    <tr>
      <td>{{ n.network.value }}</td>
      <td>{{ n.status.value }}</td>
      <td>{{ n.url }}</td>
      <td>{{ n.height }}</td>
      <td>{{ n.history_ok_count }}</td>
      <td>{{ n.history_down_count }}</td>
      <td>{{ n.checked_at | dt }}</td>
      <td>
        <details class="dropdown">
          <summary>actions</summary>
          <ul>
            <li><a href="/api-post/nodes/{{ n.id }}/check">check</a></li>
            <li><a href="/api-delete/nodes/{{ n.id }}" {{ confirm }}>delete</a></li>
            <li><a href="/api/nodes/{{ n.id }}">view</a></li>
          </ul>
        </details>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>


{% endblock %}