{% extends "inc/base.j2" %}
{% block content %}

<div class="page-header">
  <h2>nodes / {{ nodes | length }}</h2>
  <sl-divider vertical></sl-divider>
  <form class="inline">
    <sl-select name="network" placeholder="network" value="{{ form.network }}">
      {% for network in networks %}
      <sl-option value="{{ network }}">{{ network }}</sl-option>
      {% endfor %}
    </sl-select>
    <sl-button type="submit">filter</sl-button>
  </form>
  <sl-divider vertical></sl-divider>
  <sl-button-group>
    <sl-button onclick="document.querySelector('#dialog-add').show()">add</sl-button>
    <sl-button onclick="document.querySelector('#dialog-import').show()">import</sl-button>
    <sl-button href="/api/nodes/export">export</sl-button>
  </sl-button-group>
</div>

<sl-dialog id="dialog-add" label="add nodes">
  <form method="post" class="stack">
    <sl-select name="network" placeholder="network" required>
      {% for network in networks %}
      <sl-option value="{{ network }}">{{ network }}</sl-option>
      {% endfor %}
    </sl-select>
    <sl-textarea name="urls" placeholders="URLs" required></sl-textarea>
    <sl-button type="submit" variant="primary"></sl-button>
  </form>
</sl-dialog>

<sl-dialog id="dialog-import" label="import nodes">
  <form method="post" action="/nodes/import" class="stack">
    <sl-textarea name="toml" placeholder="nodes as TOML document" rows="10" required></sl-textarea>
    <sl-button type="submit" variant="primary">import</sl-button>
  </form>
</sl-dialog>

<table class="sortable">
  <thead>
    <tr>
      <th>network</th>
      <th>status</th>
      <th>url</th>
      <th>height</th>
      <th>ok</th>
      <th>down</th>
      <th>checked_at</th>
      <th>actions</th>
    </tr>
  </thead>
  <tbody>
    {% for n in nodes %}
    <tr>
      <td>{{ n.network.value }}</td>
      <td>{{ n.status.value }}</td>
      <td>{{ n.url }}</td>
      <td>{{ n.height }}</td>
      <td>{{ n.history_ok_count }}</td>
      <td>{{ n.history_down_count }}</td>
      <td>{{ n.checked_at | dt }}</td>
      <td>
        <sl-dropdown>
          <sl-button slot="trigger" caret>actions</sl-button>
          <sl-menu>
            <sl-menu-item><a href="/api-post/nodes/{{ n.id }}/check">check</a></sl-menu-item>
            <sl-menu-item><a href="/api-delete/nodes/{{ n.id }}" {{ confirm }}>delete</a></sl-menu-item>
            <sl-menu-item><a href="/api/nodes/{{ n.id }}">view</a></sl-menu-item>
          </sl-menu>
        </sl-dropdown>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>


{% endblock %}